/* Стили отображения /////////////////////////*/
::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-track{
    background: #969696;
}

::-webkit-scrollbar-thumb{
    background: #191D29;
    border-radius: 8px;
    border: 3px solid #969696;
    transition: 1s;
}

::-webkit-scrollbar-thumb:hover{
    background: #2d344b;
    border: 3px solid #969696;
}





body{
    margin: 0;

    font-family: 'Bitter', sans-serif;
    font-size: 14px;
    color: #0000;
    background-color: #fff;
    -webkit-font-smoothing:antialiased;
    min-width: 1140px;

}

*,
*::before,
*::after{
    box-sizing: border-box;
}

.container1140{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

.container1220{
    width: 100%;
    max-width: 1220px;
    margin: 0 auto;
}

.container1320{
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
}

/* Навигация /////////////////////////*/

.header{
    position: absolute;
    background-color: #191D29;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    z-index: 1000;
    /* position: fixed;
    top: 0;*/
} 

.header--all_work{
    background-color: #191D29;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    z-index: 1000;
    /* position: fixed;
    top: 0;*/
} 

.header__logoL{
    width: 52px;

}

.header__logoR{
    width: 52px;
    height: 47px;
}

.nav{
    display: flex;
}

.nav__link{
    margin-left: 50px;
    color: #fff;
    text-decoration: none;
    transition: 0.1s linear;
    font-size: 15px;
    font-weight: normal;
}

.nav__link:hover{
    color: #FF8A00;
}


.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Хеадер /////////////////////////*/

.intro{
    
    width: 100%;
    height: 100vh;
    background: #191D29;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro__content{
    
    width: 100%;
    max-width: 1920px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #191D29;
    z-index: 3;
    margin-top: 50px;
}


.intro__title{
    font-family: "Bitter";
    color: white;
    font-weight: 300;
    animation: intro__title 1s 1;
}

@keyframes intro__title{
    0%{
        color: #191D29;
        margin-left: -70px;
    }
    100%{
        color: #fff;
    }
}

.intro__inner{
    text-align: center;
    margin: 0 auto;
}

.intro__subtitle{
    font-family: "Bitter";
    font-size: 64px;
    color: white;
    font-weight: 300;
    animation: intro__subtitle 2s 1;
}

@keyframes intro__subtitle{
    0%{
        color: #191D29;
        margin-left: -90px;
    }
    50%{
        color: #191D29;
        margin-left: -90px;
    }
    100%{
        color: #fff;
    }
}

.orange{
    color: #FF8A00;
    animation: sporange 2s 1;
}

@keyframes sporange{
    0%{
        color: #191D29;
        margin-left: -45px;
    }
    50%{
        color: #191D29;
    
    }
    100%{
        color: #FF8A00;
    }
}

.intro__title1{
    font-family: "Bitter";
    color: white;
    font-weight: 100;
    animation: intro__title1 3s;
}

@keyframes intro__title1{
    0%{
        color: #191D29;
        margin-left: -90px;
    }
    60%{
        color: #191D29;
        margin-left: 90px;
    }
    100%{
        color: #fff;
    }
}
.btn{
    display: inline-block;
    vertical-align: top;
    font-size: 15px;
    color: #191D29;
    background-color: white;
    font-weight: 500;
    text-decoration: none;
    padding: 13px 20px;
    border-radius: 2px;
    font-family: "Bitter";
    transition: background .1s linear;
    text-align: center;
    margin-top: 40px;
    animation: btn 4s;
}



@keyframes btn{
    0%{
        color: #191D29;
        background-color: #191D29;
    }
    90%{
        color: #191D29;
        background-color: #191D29;
    }
    100%{
        display: block;
    }
}

.btn--all{
    display: inline-block;
    vertical-align: top;
    font-size: 24px;
    color: black;
    background-color: white;
    border: grey 1px solid;
    font-weight: 300;
    text-decoration: none;
    padding: 13px 20px;
    border-radius: 2px;
    font-family: "Bitter";
    transition: background .1s linear;
    text-align: center;
    margin-top: 40px;

}

.btn:hover{
    background-color: #FF8A00;
    border-top-color: #944f01fd;
}


.btn--all:hover{
    border: #FF8A00 1px solid;
    color: #FF8A00;
}

.down_txt{
    font-family: "Bitter";
    font-size: 15px;
    color: #FF8A00;
    margin-bottom: 30px;
    animation: down_txt 5s;
}

@keyframes down_txt{
    0%{
        color: #191D29;
        
    }
    90%{
        color: #191D29;
        
    }
    100%{
        color: #FF8A00;
    }
}

.arrow_down{
    text-align: center;
    animation: arrow 5s;
}

@keyframes arrow{
    0%{
        opacity: 0;
        
    }
    90%{
        opacity: 0;
        
    }
    100%{
        opacity: 1;
    }
}

/* Обо мне /////////////////////////*/

.for_me{
    padding-top: 100px;
    
}

.background{
    background: url(../img/driver.svg) center center/ cover no-repeat;
}

.for_me_item{
    display: flex;
    
}

.for_me_content{
    font-family: "Bitter";
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 25px;
}

.for_me_head{
    font-family: "Bitter";
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 100px;
    color: black;
}

.for_me_txt{
    font-family: "Bitter";
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 40px;
    color: #4A4A4A;
}

.for_me_txt{
    display: flex;
    flex-wrap: wrap;
}

.for_me_img{
    width: 553px;
    height: 368px;
}

.for_me_photo{
    position: relative;
}

.social{
    margin-top: 20px;
}

.social__item{
    margin-right: 6px;
}

/* Лучшие работы /////////////////////////*/

.best_work{
    padding-top: 45px;
    padding-bottom: 50px;
}

.best_content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* .work_item .work_img_prew{
    display: none;
}

.work_item:hover .work_img_prew{
    display: block;
    position: absolute;
    z-index:21;
    object-fit: cover;
    width: 553px;
    height: 400px;
    overflow: hidden;
} */


.work_img{
    object-fit: cover;
    width: 553px;
    height: 335px;
    z-index: 1;
    overflow: hidden;
    transition: 3s;
}

.work_img2{
    object-fit: cover;
    width: 553px;
    height: 335px;
    z-index: 1;
    overflow: hidden;
    transition: 4s;
}

.work_img:hover{
    object-fit: cover;
    width: 553px;
    height: 738px;
    z-index: 1;
    overflow: hidden;
}

.work_img2:hover{
    object-fit: cover;
    width: 773px;
    height: 750px;
    z-index: 1;
    overflow: hidden;
}

.work_item{
    display: flex;
    flex-direction: row;
    width: 553px;
    height: 335px;
    max-width: 50%;
    position: relative;
    overflow: hidden;
    flex-wrap: wrap;
    margin-bottom: 34px;

}




.work_item:nth-child(2n){
    margin-left: 34px;
    
}

.best_work_head{
    font-family: "Bitter";
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 100px;
    color: black;
    text-align: center;
    padding-bottom: 30px;
    
}

.best_btn{
    text-align: center;
}

/* Сервисы /////////////////////////*/

.services{
    
    background: url(../img/Frame14.svg);
    background-position: bottom 400px center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 911px;
    z-index: -3;

} 

.nojnici{
    background: url(../img/Услуги1.svg) center center/ cover no-repeat;
    height: 911px;
    
}

.phonorez{
    position: relative;
    text-align: center;
    margin: -120px 0 0 0;
    z-index: -2;
}

.services_head{
    position: relative;
    font-family: "Bitter";
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 100px;
    color: white;
    text-align: center;
    padding-top: 20px;
    z-index: 2;
}

.serv_inner_head{
    font-family: "Bitter";
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    color: #FF8A00;
    margin-top: 100px;
}

.services_content{
    font-family: "Bitter";
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    color: #fff;
    margin-top: 60px;
    display: flex;

}


.services_content .opis{
    color: gray;
    transition: 1s;
    opacity: 0;
}

.services_content:hover .opis{
    font-weight: 300;
    color: gray;
    margin-left: 20px;
    opacity: 1;
}

.services__inner{
    display: flex;
}


.services__inner .services_item2{
    margin-left: 300px;
}


/* Почему меня? ///////////////////////// */

.why_me{
    background: url(../img/driver.svg) center center/ cover no-repeat;
    padding-top: 49px;
    padding-bottom: 49px;
    background-size: 400px;
}

.why_me_head{
    font-family: "Bitter";
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    color: black;
    text-align: center;

}

.why_me_item{
    width: 30%;
    margin-top: 23px;
    text-align: center;

}


.why_me_title{
    font-family: "Bitter";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: black;
}

.why_me_text{
    font-family: "Bitter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: rgb(83, 83, 83);
}

.why_me_wrapper{
    display: flex;
    justify-content: space-between;
}

.why_me_img{
    width: auto;
    height: 85px;
}

/* Бренд ///////////////////////// */

.brend{
    background: white;
    height: 250px;
}

.brend_inner{
    height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.brend_img{
    width: 150px;
    height: auto;
}

.brend_item{
    opacity: .2;
    transition: .5s;
}

.brend_item:hover{
    opacity: 1;
}

/* Публикации ///////////////////////// */


.public_img{
    transition: .5s;
    width: 218px;
    height: auto;
}



.public{
    background: #191D29;
    padding-top: 20px;
    padding-bottom: 55px;
}

.public_inner{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.public_head{
    font-family: "Bitter";
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    color: white;
    text-align: center;
    padding-bottom: 20px;
}



/* Блог ///////////////////////// */

.blog{
    padding-top: 43px;
}

.blog_head{
    font-family: "Bitter";
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    color: black;
    text-align: center;
    padding-bottom: 20px;
}

.blog_inner{
    display: flex;
    justify-content: space-between;
}

.blog_item{
    width: 33.3333%;
}

.blog_name{
    font-family: "Bitter";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #656565;
    margin-top: 25px;
}

.blog_title{
    font-family: "Bitter";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 59px;
    text-decoration: underline 2px;
    color: #000000;
    margin-top: 7px;
    letter-spacing: 2px;
}

.blog_text{
    font-family: "Bitter";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.02em;
    color: #656565;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.blog_link{
    font-family: "Bitter";
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 59px;
    letter-spacing: 0.105em;
    color: #000000;
    text-decoration: none;
    margin-bottom: 0;
}

.blog_link:hover{
    font-family: "Bitter";
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 59px;
    letter-spacing: 0.105em;
    color: #FF8A00;
}

.blog_link:active{
    font-family: "Bitter";
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 59px;
    letter-spacing: 0.105em;
    color: #bb6503;
}

/* Footer ///////////////////////// */

.footer{
    background: url(../img/Подвал.svg) center center/ cover no-repeat;
    height: 520px;
}















/* Все работы ///////////////////////// */

.all_work{
    padding-top: 43px;
}

.all_work_head{
    font-family: "Bitter";
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    color: black;
    text-align: center;
    padding-bottom: 20px;

}



.all_work_gal{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.all_work_img{
    margin-bottom: 30px;
    width: 300px;
}

/* Резюме ///////////////////////// */

.resume_txt{
    font-family: "Bitter";
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 40px;
    color: #4A4A4A;
    text-align: justify;
}


/* Контакты ///////////////////////// */

.how_call_me{
    margin: 0 auto;
}

.call_item:nth-child(2n+1){
    padding-top: 48px;
    padding-bottom: 48px;
    background: #191D29;
    color: white;
    font-family: Bitter;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 59px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call_item:nth-child(2n){
    padding-top: 48px;
    padding-bottom: 48px;
    background: #ffffff;
    color: #191D29;
    font-family: Bitter;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 59px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call_img{
    margin-right: 34px;
}

/* Кнопка вверх ///////////////////////// */


.btn--up{
    display: inline-block;
    
    
}

.up_img{
    width: 50px;
    height: 50px;
}


.btn_up{
    padding: 0;
    margin-left: 2%;
    position: absolute;
    top: 90%;
    position: fixed;
    opacity: 50%;
    transition: .5s;

    
}



.btn_up:hover{
    margin-left: 2%;
    position: absolute;
    top: 90%;
    position: fixed;
    opacity: 100%;

}














